:root {
  /*colors */
  /*  Base Values  */
  --primary-color-h: 46;
  --primary-color-s: 100%;
  --primary-color-l: 76%;
  --secondary-color-h: 180;
  --secondary-color-s: 99%;
  --secondary-color-l: 27%;
  --tertiary-color-h: 180;
  --tertiary-color-s: 99%;
  --tertiary-color-l: 27%;
  --contrastThreshold: 60%;

  /*  Calculations Based on Lightness  */
  --lightnessTransform: 15%;
  --lightnessTransform2: 10%;
  --lightnessTransform3: 5%;

  --black-gradient: linear-gradient(54deg, rgb(0, 0, 0, 20%), rgba(0, 0, 0, 0%) 91%);
  --white-gradient-1: linear-gradient(344deg, rgb(255, 255, 255, 36%), rgba(255, 255, 255, 0%) 50%);
  --white-gradient-2: linear-gradient(344deg, rgb(255, 255, 255, 20%), rgba(255, 255, 255, 0%) 50%);

}

@page {
  width: 17in;
  height: 11in;
  margin: 0;
}
.frame {
  margin: 0 15px;
}

.home-frame {
  float: left;
  width: 100%;
}

/* fonts */

* {
  font-family: Inter, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url(http://localhost:5000/static/fonts/inter.woff2) format('woff2'),
       url(http://localhost:5000/static/fonts/inter.ttf) format('truetype');
}


.col-wrapper {
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
}

.col-wrapper p {
    hyphens: auto;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 1rem;
  /*text-align: justify;*/
  width: 100%;
  color: #000000;
  padding: 0 20px;

}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


/*@media print {*/
  .group-holder {
      width: 100%;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
      flex-flow: row;
      grid-template-rows: auto;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      display: grid;
  }

  .group {
    width: 100%;
    height: 100%;
    text-align: left;
    flex-direction: row;
    transition: transform .2s, opacity .2s;
    display: block;
  }

  .subsection-body, .subsection-header {
      width: calc(100% - 95px);
  }

  .foot {
    /*display: none;*/
    position: absolute;
    width: 1115px;
    height: 25px;
    bottom: 15px;
    right: 20px;
  }
/*}*/


@media print {
   /*------ for wheezy print -----*/
  /*.group-holder {*/
  /*    width: 100%;*/
  /*    display: block;*/
  /*}*/
  /*.preop, .intra {*/
  /*  margin-right: 15px;*/
  /*}*/
  /*.group {*/
  /*  width: 521px;*/
  /*  height: 900px;*/
  /*  float: left;*/
  /*  display: block;*/
  /*}*/
  /*.subsection-body, .subsection-header {*/
  /*    width: 390px;*/
  /*}*/
}


/*@media screen and (max-width: 600px) {*/
/*  .group-holder {*/
/*    grid-template-columns: 1fr*/
/*  }*/
/*}*/

@media only screen and (max-width: 1000px) {
  .group-holder {
    grid-template-columns: 1fr;
  }
}



body {
  margin: 0px;
  height: 100%;
}



a {
  text-decoration: underline;
  color: black;
  font-weight: 500;
}




/* color assignments*/


.preop {
  --group-hue: 46;
  --group-light: 90%
}
.intra {
  --group-hue: 137;
  --group-light: 70%
}
.post {
  --group-hue: 213;
  --group-light: 70%
}

.group {
  background-color: hsl(var(--group-hue), var(--group-light), 95%);
  background-image: var(--white-gradient-2);
}
.subsection-body {
  background-color: hsl(var(--group-hue), var(--group-light), 90%);
  background-image: var(--white-gradient-1);
}
.dot, .subsection-header {
  background-color: hsl(var(--group-hue), var(--group-light), 80%);
  background-image: var(--white-gradient-2);
}
.groupheader {
  background-color: hsl(var(--group-hue), var(--group-light), 70%);
  background-image: var(--white-gradient-1);
}


/* layout */


.groupheader {
  width: 100%;
  padding: 20px;
  top: 0;

  font-weight: 700;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.groupbody {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 25px;
}

.groupbody.web-only {
  margin-bottom: 25px;
}
.groupbody.print-only {
  height: 880px;
}


.title-banner {
  width: 100%;
  background-color: #C00000;
  background-image: var(--black-gradient);
  display: block;
  float: left;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

.title-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1rem;
}

.title-buttons a {
  width: 40px;
  height: 20px;
  float: right;
  color: #ffffff;
}

.title-buttons a:hover {
  color: #ef7a7a;
}

.subsection-header {
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 550;
}

.vicon {
  height: 40px;
}

.subsection-body p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1rem;
  /*text-align: justify;*/
  width: 100%;
  color: #000000;
  padding: 0 20px;
  /*hyphens: auto;*/
  /*overflow-wrap: break-word;*/
}

/*<'font-style'> – See the font-style CSS property.*/
/*<'font-variant'> – See the font-variant CSS property.*/
/*<'font-weight'> – See the font-weight CSS property.*/
/*<'font-stretch'> – See the font-stretch CSS property.*/
/*<'font-size'> – See the font-size CSS property.*/
/*<'line-height'> – See the line-height CSS property.*/
/*<'font-family'> – See the font-family CSS property.*/

.subsection-body ul {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1rem;
  /*text-align: justify;*/
  padding-right: 20px;
  /*hyphens: auto;*/
  /*overflow-wrap: break-word;*/
}

.subsection {
  width: 100%;
  padding: 20px 20px 0 20px;
  float: left;
}


.dot {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  text-align: center;
  padding: 16px 0px;
  float: left;
}


.subsection-body {
  float: left;
  margin-left: 15px;
}

.subsection-header {
  height: 34px;
  float: left;
  margin-left: 15px;
  padding: 10px 15px;
}


.foot {

  font-weight: 300;
  color: #000000;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}
