{# templates/index_template.html #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/human.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<body>
  <div class="title-banner"><span class="title-text"> Breast Clinical Care Pathway </span> </div>
  <div class="home-frame">
    <div class="col-wrapper">
      <p> Welcome to Clinical Pathways, your comprehensive resource hub for surgical protocols in the Department of Anesthesiology. Example intro text. Designed to streamline and optimize patient care, Clinical Pathways offers a centralized repository of evidence-based guidelines, including ERAS (Enhanced Recovery After Surgery) protocols and more. </p>
      <p> With a focus on practicality and efficiency, our platform provides easy access to standardized procedures, ensuring consistency and quality across all surgical interventions. From preoperative preparation to postoperative care, Clinical Pathways equips healthcare professionals with the tools and knowledge needed to enhance patient outcomes and promote recovery. </p>
      <p> Explore our extensive library of protocols, tailored to meet the unique needs of various surgical specialties. Whether you're a seasoned anesthesiologist or a resident in training, Clinical Pathways is here to support you in delivering optimal care at every stage of the surgical journey. </p>
      <p> Join us in our mission to elevate surgical care through evidence-based practices. Start navigating Clinical Pathways today and empower yourself to make informed decisions for the benefit of your patients. </p>
      <p> <a href="/breast">Breast pathway</a></p>
    </div>
  </div>
</body>
</html>
