<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="pathway.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="frame">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Pretend Clinical Care Pathway</div>
        </div>
        <div class="group">
          <div class="overlap-group">
            <div class="overlap-2">
              <p class="some-example-text">
                Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs
                before surgery. More example text.
              </p>
              <div class="text-wrapper-2">Subheader here</div>
              <div class="subsection">
                <div class="some-example-text-wrapper">
                  <p class="p">
                    Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4
                    hrs before surgery. More example text.
                  </p>
                </div>
                <div class="vector-wrapper">
                  <div class="vector-wrapper"><img class="img" src="img/vector-1.svg" /></div>
                </div>
                <div class="div-wrapper"><div class="text-wrapper-3">Subheader here</div></div>
              </div>
            </div>
            <div class="subsection-2">
              <div class="vector-wrapper"><img class="img" src="img/vector-2.svg" /></div>
              <div class="example-of-some-wrapper">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-3"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-3">
              <div class="vector-wrapper"><img class="vector-2" src="img/vector-3.svg" /></div>
              <div class="example-of-some-wrapper">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-3"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-4">
              <div class="vector-wrapper"><img class="img" src="img/vector-1.svg" /></div>
              <div class="example-of-some-wrapper">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-3"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
          </div>
          <div class="overlap-4"><div class="text-wrapper-4">Preoperative</div></div>
        </div>
        <div class="group-2">
          <div class="overlap-5">
            <div class="overlap-2">
              <p class="some-example-text">
                Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs
                before surgery. More example text.
              </p>
              <div class="text-wrapper-2">Subheader here</div>
              <div class="subsection">
                <div class="overlap-6">
                  <p class="p">
                    Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4
                    hrs before surgery. More example text.
                  </p>
                </div>
                <div class="img-wrapper"><img class="vector" src="img/vector-1.svg" /></div>
                <div class="overlap-7"><div class="text-wrapper-3">Subheader here</div></div>
              </div>
            </div>
            <div class="subsection-2">
              <div class="img-wrapper"><img class="img" src="img/vector-3.svg" /></div>
              <div class="overlap-8">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-9"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-3">
              <div class="img-wrapper"><img class="vector-2" src="img/vector-1.svg" /></div>
              <div class="overlap-8">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-9"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-4">
              <div class="img-wrapper"><img class="img" src="img/vector-2.svg" /></div>
              <div class="overlap-8">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-9"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
          </div>
          <div class="overlap-10"><div class="text-wrapper-4">Preoperative</div></div>
        </div>
        <div class="group-3">
          <div class="overlap-11">
            <div class="overlap-2">
              <p class="some-example-text">
                Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs
                before surgery. More example text.
              </p>
              <div class="text-wrapper-2">Subheader here</div>
              <div class="subsection">
                <div class="overlap-12">
                  <p class="p">
                    Some example text from an itemized list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4
                    hrs before surgery. More example text.
                  </p>
                </div>
                <div class="overlap-13"><img class="vector" src="img/vector-1.svg" /></div>
                <div class="overlap-14"><div class="text-wrapper-3">Subheader here</div></div>
              </div>
            </div>
            <div class="subsection-2">
              <div class="overlap-13"><img class="img" src="img/vector-2.svg" /></div>
              <div class="overlap-15">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-group-2"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-3">
              <div class="overlap-13"><img class="vector-2" src="img/vector-2.svg" /></div>
              <div class="overlap-15">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-group-2"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
            <div class="subsection-4">
              <div class="overlap-13"><img class="img" src="img/vector-3.svg" /></div>
              <div class="overlap-15">
                <p class="example-of-some">
                  Example of some paragraph text before a list. Consider allowing breast patients who arrive early to
                  pre-op for lympho or mammography to drink water until 2 hrs<br />Some example text from an itemized
                  list. Stop full liquids 8 hrs/midnight.<br />Stop clear liquids 4 hrs before surgery. More example
                  text.
                </p>
              </div>
              <div class="overlap-group-2"><div class="text-wrapper-3">Subheader here</div></div>
            </div>
          </div>
          <div class="overlap-16"><div class="text-wrapper-4">Preoperative</div></div>
        </div>
        <p class="version-XYZ-last">
          <span class="span">Version XYZ. Last updated Feb 31, 2023. Available online at </span>
          <span class="text-wrapper-5">https://pathways.stanes.link/pretend</span>
          <span class="span">. Submit edits or comments there.</span>
        </p>
      </div>
    </div>
  </body>
</html>
