{# templates/pathway_template.html #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/human.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9daddce1ca.js" crossorigin="anonymous"></script>
  </head>

<body>
  <div class="title-banner">
    <span class="title-text"> Breast Clinical Care Pathway </span>

  {% if format == "web" %}

    <span class="title-buttons">
      <a href="https://hackmd.io/@stanford-anesthesia/HJjHfGv6a/edit">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a href="https://pathways.stanes.link/breast/pdf">
        <i class="fa-solid fa-download"></i>
      </a>
    </span>

  {% endif %}

  </div>
  <div class="frame">

  <div class="group-holder" role="list">

    <!------------------------- preop group ------------------------->
    <div class="group preop" role="listitem">
      <div class="groupheader">Preoperative</div>
      <div class="groupbody">
        {% for section in pre %}
        <div class="subsection">
          <div class="dot"><img class="vicon" src="{{ section.image_url }}"></div>
          <div class="subsection-header">{{ section.subheader }}</div>
          <div class="subsection-body">{{ section.content_block|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>

      <!------------------------- intra group ------------------------->
    <div class="group intra" role="listitem">
      <div class="groupheader">Intraoperative</div>
      <div class="groupbody">
        {% for section in intra %}
        <div class="subsection">
          <div class="dot"><img class="vicon" src="{{ section.image_url }}"></div>
          <div class="subsection-header">{{ section.subheader }}</div>
          <div class="subsection-body">{{ section.content_block|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>

      <!------------------------- post group ------------------------->
    <div class="group post" role="listitem">
      <div class="groupheader">Postoperative</div>
      <div class="groupbody">
        {% for section in post %}
        <div class="subsection">
          <div class="dot"><img class="vicon" src="{{ section.image_url }}"></div>
          <div class="subsection-header">{{ section.subheader }}</div>
          <div class="subsection-body">{{ section.content_block|safe }}</div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% if format == "print" %}
    <div class="foot">
      Version XYZ. Last updated DD/MM/YYYY. To view or edit online, visit <a href="https://pathways.stanes.link/breast">https://pathways.stanes.link/breast</a>.
    </div>
    {% endif %}
  </div>
  </div>


</body>

</html>