<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="human.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<body>
  <div class="title-banner">Breast Clinical Care Pathway</div>
  <div class="frame">

  <div class="group-holder" role="list">

    <!------------------------- preop group ------------------------->
    <div class="group preop" role="listitem">
      <div class="groupheader">Preoperative</div>
      <div class="groupbody">
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-1.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text before a list. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. </p>
                  <ul>
                    <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                    <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
                  </ul>
            </div>
        </div>

        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-3.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
            <ul>
                <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-2.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. Stop full liquids 8 hrs/midnight. Stop clear liquids 4 hrs before surgery. More example text.</p>
            </div>
        </div>
      </div>
    </div>

    <!------------------------- intra group ------------------------->
    <div class="group intra" role="listitem">
      <div class="groupheader">Intraoperative</div>
      <div class="groupbody">
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-3.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text before a list. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. </p>
                  <ul>
                    <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                    <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
                  </ul>
            </div>
        </div>

        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-1.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
            <ul>
                <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-2.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. Stop full liquids 8 hrs/midnight. Stop clear liquids 4 hrs before surgery. More example text.</p>
            </div>
        </div>
      </div>
    </div>

    <!------------------------- post group ------------------------->
    <div class="group post" role="listitem">
      <div class="groupheader">Postoperative</div>
      <div class="groupbody">
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-1.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text before a list. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. </p>
                  <ul>
                    <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                    <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
                  </ul>
            </div>
        </div>

        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-3.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
            <ul>
                <li> Some example text from an itemized list. Stop full liquids 8 hrs/midnight.</li>
                <li> Stop clear liquids 4 hrs before surgery. More example text.</li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="dot"><img class="vicon" src="img/vector-2.svg"></div>
          <div class="subsection-header">Subheader here</div>
          <div class="subsection-body">
                <p>Example of some paragraph text. Consider allowing breast patients who arrive early to pre-op for lympho or mammography to drink water until 2 hrs. Stop full liquids 8 hrs/midnight. Stop clear liquids 4 hrs before surgery. More example text.</p>
            </div>
        </div>
      </div>
    </div>


    <div class="foot">
      Version XYZ. Last updated Feb 31, 2023. Available online at <a href="https://pathways.stanes.link/breast">https://pathways.stanes.link/breast</a>. Submit edits or comments there.
    </div>
  </div>
  </div>


</body>

</html>